.tvGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 0 0;
  gap: 15px;
}

.tvCard {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.tvCard img {
  max-width: 100%;
  width: 100%;
}
